
p, h1, h2, h3, li {
    color:#095B93
}
.harbour-container {
    min-height: 20rem;
    border-radius: 10px;
    height: 20rem;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.harbour-img {
    display: block;
    width: 100%;
    position: absolute;
    height: auto;
    min-height: 20rem;
    min-width: 570px;
    aspect-ratio: 1.8/1;
}
.harbour-container h1 {
    z-index: 1;
    color: lightblue;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}
.resume-top {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center,flex-start;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-wrap: no-wrap; */
}
.synopsis {
    padding-right: 3vw;
    display: inline-block;
    width: 68%;
    min-width: 310px;
    position: relative;

}
.synopsis h1 {
    text-align: center;
    padding: 1rem;
    min-width: px;
}
.synopsis > p {
    padding: 1rem;
    border: 3px solid #095B93;
    border-radius: 10px;

}

.resume {
    padding-top: 2rem;
    height: 100%;
    width: 25%;
    display: inline-block;
}

.resumelink {
    height:100%;
    margin: auto;
    text-align: center;
    padding: 1rem;
    background-color: #bae4fc;
    display: flex;
    justify-content: center;
}
.resumelink:hover {scale: 1.2;
}
.resume-title {padding-bottom: 1rem;
}

.resume > i {
    font-size: 4rem;
}


.header {
    text-align: center;
    padding: 1rem 0.5rem;
}
p, li {line-height: 1.6;
    font-size: 1.2rem;
    list-style-type: none;
}

.career-container {
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}
.career-container ul {
    padding-top: 1rem;
    text-align: right;
}
.articles {
    border: 5px solid white;
    border-radius: 10px;
    width: 40rem;
    padding: 1rem 1rem 1rem 2rem;
    background-color: lightblue;

}
.articles h2 {
    text-align: center;
    padding-bottom: 1rem;
}
.footer {
    width: 100%;
    height: 30%;
    background-color: #095B93;
    text-align: center;
    color: #bae4fc
}
@media only screen and (min-width: 320px) and (max-width: 420px){
    .resume {
        width:100%;
    }
    .synopsis {
        width: 100%;
    }
    .resume-top {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
    }
    To reduce warping
    .resume i {
        transform: scaleX(1.1)
    }
}
@media only screen and (min-width: 421px) and (max-width: 608px){
    .resume {
        width: 100%;
       
        
    }
    .synopsis {
        width: 100%;
    }
    
}