* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    padding-top: 4.8vh;
    background-color: rgb(195, 234, 255);
    font-family: Arial, Helvetica, sans-serif;;
}
.button {
    border: 2px solid lightblue;
    border-radius: 10px;
    background-color: rgb(188, 147, 64);
    color: rgb(14, 14, 172);
    content: 10px 40px;
    padding: .5vh;
    text-align: center;
    display: inline-block;
    font-size: 2vh;
    margin: .5vh .5rem;
    white-space: no-wrap;
}
.button:hover {
    background-color: lightblue;

}
.navbar {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    justify-content: flex-start;
    z-index: 10;
    background-color: rgb(89, 153, 255);
    position: fixed;
}
.unset-link-styles {
    text-decoration: none;
    color: black;
}