
.header {
    text-align: center;
    padding: 1rem 0.5rem;
}

.resume {
    width: 100%;
    padding: 1rem;
    /* width: fit-content; */
    display: flex;
    justify-content: center;
    border: 1px solid black;
}
.resumelink {
    padding: 1rem;
    border: 1px solid black;
}
